h1, p {
    text-align: centered;
    color:#ffffff;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2017/06/10/16/22/coffee-2390136_1280.jpg");
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1, p {
    margin: 1em auto;
    text-align: center;
  }

form {
    background-color: #11116896;
    width: 60vw;
    max-width: 700px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    }
}

fieldset {
    padding: 2rem 0;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input, textarea, select {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #ffffff;
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }

  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }


input[type="submit"] {
    text-align: centered;
    display:block;
    width: 20%;
    margin: 1em auto;
    height: 2em;
    background-color: #aa00ff;
    color: #ffffff
}