h1, p {
    text-align: centered;
    color:#ffffff;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2017/06/10/16/22/coffee-2390136_1280.jpg");
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

h1, p {
    margin: 1em auto;
    text-align: center;
  }

  p {
    display:block;
  }

form {
    background-color: #11116896; /*This will be the box surrounding all of the questions that will be overlayed on top of the background image*/
    width: 80vw;
    max-width: 700px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;  /*This determins how much space is available below the form after the submit button for the purple box that encloses everything*/
    }


fieldset {
    padding: 2rem 0;
}

fieldset:last-of-type {
    border-bottom: none;
  }

label {
    display: block;
    margin: 0.5rem 0;
    color: #ffffff; /*this will change the colour for all of the label text on the inside of the form (questions) */
    padding-top:0.5 rem 0;
}

input, textarea, select {
    background-color: #ffffff;
    border: 1px solid #000000;
    margin: 10px 0 0 0;
    width: 100%;      /*this forces the text boxes area to span the entirety of the form (aside from padding) forcing it below the question*/
    min-height: 2em;
  }

  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }

  select {
    display:list-item;
}


input[type="submit"] {
    text-align: centered;
    display:block;
    width: 20%;
    margin: 1em auto;
    height: 2em;
    background-color: #aa00ff;
    color: #ffffff
}