title, h1, h2, p {
    text-align: centered;
}

label {
    display: block;
    margin: 0.5rem 0;
}

.radio {
    display: block;
    margin: 0.5rem 0;
}

select {
    display:list-item;
    margin: 0.5rem 0;
}

input[type="submit"] {
    text-align: centered;
    display:block;
    width: 60%;
    background-color: rbg(0, 250, 0)
}